/* This is here to give everything a red border, just to make it easier to see while developing. */
/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */


/** {
  box-sizing: border-box;

  border: thin red solid;
}*/
/*I commented the red box out*/


.button{
  background: lightblue;
  color: white;
  display: block;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}



